@font-face {
	font-family: 'Open Sans';
	src: url('./OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kelson';
	src: url('./KelsonSans-BoldRU.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Kelson';
	src: url('./KelsonSans-RegularRU.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kelson';
	src: url('./KelsonSans-LightRU.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

a {
	background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

button,
input { /* 1 */
	overflow: visible;
}

button,
select { /* 1 */
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/* GLOBAL */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Kelson', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
}

/*OFFER*/

.offer {
	display: table-row;
	width: 100%;
	font-size: 0;
	text-align: center;
}

.offer .inner {
	position: relative;
	width: 100%;
}

.offer span, .offer a {
	font-family: 'Open Sans', sans-serif;
	font-size: 9px;
	line-height: 1;
	color: #676b76;
}

/*HEADER*/

.header {
	width: 100%;
	z-index: 2;
}

.header .inner {
	position: relative;
	display: table;
	width: 100%;
	padding: 0 5px;
	text-align: center;
}

.header .inner * {
	vertical-align: middle;
}

.header .name {
	display: table-cell;
	padding: 0 5px;
	width: 100%;
	font-size: 0;
	text-align: left;
}

.header .name span {
	font-size: 30px;
	font-weight: normal;
	color: #676b76;
	line-height: 50px;
	text-transform: uppercase;
}

.header .name span:first-child {
	color: #00a33a;
}

.header .plus18 {
	display: table-cell;
	width: 40px;
}

.header .plus18 div {
	width: 40px;
	height: 40px;
	background-color: transparent;
	background-image:	url('./plus-18.png');
	-webkit-background-size: 30px;
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
}

/*MAIN*/

.main {
	display: table-row;
	height: 100%;
}

.main > .inner {
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
}

/*SEARCH*/

.search {
	display: table-row;
	width: 100%;
}

.search .inner {
	padding: 0 10px 10px;
	font-size: 0;
}

.search input {
	width: 75%;
	height: 32px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
	color: #676b76;
	border: 1px solid #676b76;
	border-right: none;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	vertical-align: top;
}

.search input[disabled] {
	background-color: #fff;
}

.search button {
	width: 25%;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	color: #eee;
	border: none;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	background-color: #676b76;
	vertical-align: top;
}

@media screen and (max-height: 370px) {
	.search {
		display: none;
	}
}

/*MENU*/

.menu {
	display: table-row;
	width: 100%;
	background-color: #EFEEE9;
}

.menu ul {
	display: table;
	width: 100%;
	padding: 0 10px;
}

.menu ul li {
	display: table-cell;
	padding: 8px 0;
	color: #676b76;
	text-align: center;
}

@media screen and (max-height: 440px) {
	.menu {
		display: none;
	}
}

/*HEADING*/

.heading {
	display: table-row;
	width: 100%;
}

.heading h1 {
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #676b76;
}

@media screen and (max-height: 620px) {
	.heading {
		display: none;
	}
}

/*PLACEHOLDER*/

.placeholder {
	display: table-row;
	width: 100%;
	height: 100%;
}

/*SELECTS*/

.selects-wrapper {
	display: table-row;
	width: 100%;
}

.selects-wrapper .inner {
	width: 100%;
	padding: 0 10px;
}

.selects-wrapper .select {
	position: relative;
	padding: 5px 10px;
	border: 1px solid #676b76;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.selects-wrapper .select span {
	color: #676b76;
}

.selects-wrapper .select + .select {
	margin-top: 5px;
}

.selects-wrapper .select .icon {
	position: absolute;
	top: 50%;
	right: 10px;
	-webkit-transform: translateY(-50%) rotate(180deg);
	-ms-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
	width: 10px;
	height: 10px;
	background-image: url('./arrow-down.png');
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-height: 790px) {
	.selects-wrapper .select.sort {
		display: none;
	}
}

@media screen and (max-height: 720px) {
	.selects-wrapper .select.category {
		display: none;
	}
}

@media screen and (max-height: 620px) {
	.selects-wrapper .inner {
		margin-top: 10px;
	}
}

@media screen and (max-height: 540px) {
	.selects-wrapper {
		display: none;
	}
}

/*BOOKS*/

.books {
	display: table-row;
	width: 100%;
}

.books .inner {
	padding: 0 10px 10px;
	list-style: none;
}

.books .inner .book {
	width: 100%;
	font-size: 0;
}

.books .inner .book + .book {
	margin-top: 5px;
}

.books .preview {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	background-image: url('./book2.png');
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right center;
	vertical-align: top;
}

.books .preview .label {
	position: absolute;
	right: -8px;
	bottom: 5px;
	padding: 2px 5px 0;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.books .preview .label.label-hit {
	background-color: #f00;
}

.books .preview .label.label-new {
	background-color: #00af00;
}

.books .preview .label::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transform: skewY(-30deg);
	-ms-transform: skewY(-30deg);
	transform: skewY(-30deg);
	display: block;
	width: 8px;
	height: 100%;
	z-index: -1;
}

.books .preview .label.label-hit::after {
	background-color: darkred;
}

.books .preview .label.label-new::after {
	background-color: #007d00;
}

.books .description {
	display: inline-block;
}

.books .stars {
	margin-bottom: 10px;
}

.books .star-item {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url('./star.png');
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: top;
}

.books .star-item + .star-item {
	margin-left: 5px;
}

.books .readers {
	font-size: 16px;
	color: #676b76;
}

@media screen and (max-height: 660px) {
	.books .inner > li:nth-child(2) {
		display: none;
	}
}

@media screen and (max-height: 520px) {
	.books .inner > li:nth-child(3) {
		display: none;
	}
}

@media screen and (max-height: 370px) {
	.books {
		display: none;
	}
}

/*BUTTON*/

.main .btn-wrapper {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 100%;
	font-size: 0;
	text-align: center;
	z-index: 1000;
}

.main .btn {
	position: relative;
	display: inline-block;
	width: 90vw;
	height: 20vh;
	text-decoration: none;
	text-align: center;
	background-color: #00a33a;
	border: none;
}

.main .btn > span {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 600;
	line-height: 32px;
	color: #fff;
	text-shadow: 0 4px 7px rgba(0, 0, 0, 0.31);
}

.main .btn > span::after {
	position: absolute;
	top: 50%;
	left: 100%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	content: '';
	display: block;
	width: 25px;
	height: 27px;
	margin-left: 9px;
	background-image: url('./arrow-right.png');
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.main .cancel {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	text-align: center;
}

.main .cancel a {
	display: inline-block;
	padding: 5px 7px;
	margin-top: 15px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: rgba(136, 136, 136, 0.5);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.main .cancel span {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	line-height: 1;
	color: #444;
}

@media screen and (max-height: 220px) and (orientation: landscape) {
	.main .btn-wrapper {
		top: auto;
		bottom: 60px;
		-webkit-transform: translate(0, -27px);
		-ms-transform: translate(0, -27px);
		transform: translate(0, -27px);
	}
}

/*FOOTER*/

.rules {
	display: table-row;
}

.rules .inner {
	position: relative;
	padding: 2px;
}

.rules p, .rules a {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 9px;
	line-height: 1;
	text-align: center;
	color: #676b76;
}
